.testimonials-page {
  background: #f9f9f9;
  padding: 80px 20px;
  text-align: center;
  border-color: #ff5bbf;
}

.testimonials-page h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 50px;
  color: #222;
  line-height: 1.3;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.testimonial-card {
  background: #fff;
  border-radius: 16px;
  padding: 25px;
  text-align: left;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  position: relative;
  border: 2px solid #ff5bbf;
}

.testimonial-card.dark-card {
  /* background: #ff5bbf; */
  /* color:; */
  border-color: #ff5bbf;
}

.testimonial-text {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.testimonial-footer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.testimonial-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-footer h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.testimonial-footer span {
  font-size: 13px;
  color: #777;
}

.testimonial-card.dark-card .testimonial-footer span {
  color: #777;
}

.testimonial-stars {
  margin-top: 12px;
  font-size: 14px;
  color: #ffd700;
}

/* Responsive */
@media (max-width: 900px) {
  .testimonials-grid {
    grid-template-columns: 1fr;
  }
}
